<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper通过命名空间的名称来搜索 passwordMapper 接口,接口的方法名和id名称一致，然后执行相应的sql语句进行相应的操作 -->
<mapper namespace = "ssm.dao.PasswordDAO">

    <!--根据 email 查询用户信息-->
    <select id = "getUserByEmail" parameterType = "String" resultType="ssm.entity.User">
        select * from tb_user where user_email = #{user_email};
    </select>

    <!--根据 tel 查询用户信息-->
    <select id = "getUserByTel" parameterType = "String" resultType="ssm.entity.User">
        select * from tb_user where user_tel = #{user_tel};
    </select>

    <!--修改用户密码-->
    <update id="updatePassword">
        update tb_user set user_password=#{user_password} where id=#{id};
    </update>
</mapper>